{{>messages}}
<div class="container my-3">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img class="img-responsive center-block mb-6" src="{{user.avatar}}"
        style="width: 300px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
      <h1 class="my-5">{{user.name}}</h1>
      <h4 class="my-5">nation: {{user.nation}}</h4>
      <h3>About Me</h3>
      <h5>{{user.introdution}}</h5>
    </div>
    <div class="col-md-9">
      <h3>New Schedule</h3>
      <div class="row d-flex justify-content-evenly my-5" style="height: 150px">
        {{#each lesson}}
        <div class="card col-5 bg-light">
          <div class="card-body">
            <div>Time: {{this.lessonTime}}</div>
            <div>Teacher's Name: {{this.Teacher.name}}</div>
            <div>Link: {{this.link}}</div>
          </div>
        </div>
        {{/each}}
      </div>
      <h3 class="mb-3">Lesson History</h3>
      <div class="row d-flex justify-content-evenly my-5 align-middle">
        {{#if lessonUnscored.[0].Teacher.name}}
          <div class="col-1 rounded-circle my-2"><img src="{{lessonUnscored.[0].Teacher.avatar}}" alt=" " style="width: 50px;"></div>
          <div class="card col-5 bg-light mb-3">
            <div class="card-body p-3 d-flex justify-content-around">
              <h4>{{lessonUnscored.[0].Teacher.name}}</h4>
              <div>
                <button id="inputComment" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" value="{{lessonUnscored.[0].lessonTime}}">
                  Score
                </button>
              </div>
            </div>
          </div>
          {{/if}}
          {{#if lessonUnscored.[1].Teacher.name}}
          <div class="col-1 rounded-circle my-2"><img src="{{lessonUnscored.[1].Teacher.avatar}}" alt=" " style="width: 50px;"></div>
          <div class="card col-5 bg-light mb-3">
            <div class="card-body p-3 d-flex justify-content-around">
              <h4>{{lessonUnscored.[1].Teacher.name}}</h4>
              <div>
                <button id="inputComment1" type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop" value="{{lessonUnscored.[1].lessonTime}}">
                  Score
                </button>
              </div>
            </div>
          </div>
          {{/if}}
          {{#if lessonUnscored.[2].Teacher.name}}
          <div class="col-1 rounded-circle my-2"><img src="{{lessonUnscored.[2].Teacher.avatar}}" alt=" " style="width: 50px;"></div>
          <div class="card col-5 bg-light mb-3">
            <div class="card-body p-3 d-flex justify-content-around">
              <h4>{{lessonUnscored.[2].Teacher.name}}</h4>
              <div>
                <button id="inputComment2" type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop" value="{{lessonUnscored.[2].lessonTime}}">
                  Score
                </button>
              </div>
            </div>
          </div>
          {{/if}}
          {{#if lessonUnscored.[3].Teacher.name}}
          <div class="col-1 rounded-circle my-2"><img src="{{lessonUnscored.[3].Teacher.avatar}}" alt=" " style="width: 50px;"></div>
          <div class="card col-5 bg-light mb-3">
            <div class="card-body p-3 d-flex justify-content-around">
              <h4>{{lessonUnscored.[3].Teacher.name}}</h4>
              <div>
                <button id="inputComment3" type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop" value="{{lessonUnscored.[3].lessonTime}}">
                  Score
                </button>
              </div>
            </div>
          </div>
          {{/if}}
      </div> 
      <div class="mt-5">
        <h1>我的學習時數名次: {{rank}}</span></h1>
        <div class="text-end">
          <a class="btn btn-primary mt-5" href="/edit">edit</a>
        </div>
      </div>
      
      
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/newComment" method="POST">
          <h5>分享此次的課程體驗</h5>
          
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label" >Time:</label>
            <input type="text" name="time" class="form-control" id="time">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Score:</label>
            <input type="number" name="score" class="form-control" id="recipient-name" max="5" min="1" required>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Comment:</label>
            <textarea name="comment" class="form-control" id="message-text"></textarea>
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const inputComment = document.getElementById("inputComment")
  const inputComment1 = document.getElementById("inputComment1")
  const inputComment2 = document.getElementById("inputComment2")
  const inputComment3 = document.getElementById("inputComment3")
  const time = document.getElementById("time")
  inputComment.addEventListener("click", (event) => {
    time.value = event.target.value
  })
  inputComment1.addEventListener("click", (event) => {
    time.value = event.target.value
  })
  inputComment2.addEventListener("click", (event) => {
    time.value = event.target.value
  })
  inputComment3.addEventListener("click", (event) => {
    time.value = event.target.value
  })
</script>