<div class="container my-3">
  <div class="row no-gutters">
    <div class="col-md-9">
      <div class="row mb-3">
        <div class="col-6">
          <img class="img-responsive center-block mb-6" src="{{teacher.[0].avatar}}"
            style="width: 300px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
        </div>
        <div class="col-6 mt-5">
          <h1 class="my-5">{{teacher.[0].name}}</h1>
          <h4>nation: {{teacher.[0].nation}}</h4>
          <h4 class="mb-5">score: {{teacher.avgScore}}</h4>
        </div>
      </div>
      
      <h3>About Me</h3>
      <h5 class="mb-5">{{teacher.[0].introdution}}</h5>
      <h3 >Your Teachstyle</h3>
      <h5 class="mb-5">{{teacher.[0].teachStyle}}</h5>
      <h3 class="mb-3">Lesson History</h3>
      {{#each comments}}
      <div class="row d-flex justify-content-evenly my-5" style="height: 60px;">
        <div class="col-1 p-4"><span class=" bg-warning p-2 rounded-circle">{{this.score}}</span></div>
        <div class="card col-11 bg-light mb-5 p-3 ">{{this.content}}</div>
      </div>
      {{/each}}  
    </div>
    <div class="col-md-3 position-relative">
      {{#unless user.teachStyle}}
      <h3 class="bg-secondary p-3 rounded-3 mb-3">預約上課</h3>
      <form action="/select/{{teacher.[0].id}}" method="post">
        <select type="date" id="startTime" name="startTime" class="form-select" aria-label="Default select example"
           required>
          <option value="" selected disabled>--請選擇時段--</option>
          {{#each teacher}}
            {{#unless this.Lessons.selected}}
            <option value="{{this.Lessons.startTime}}">{{this.lessonTime}}</option>
            {{/unless}}
          {{/each}}
        </select>
        <div class="text-end mt-3"><button type="submit" class="btn btn-primary m-1" id="timeSubmit" data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>submit</button></div>
      </form>
      {{/unless}}
      <div class="position-absolute bottom-0 end-0">
        <a href="/tutor">
          <button type="button" class="btn btn-outline-secondary">
            返回首頁
          </button>
        </a>
      </div>
    </div>
    
    
    
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <form action="/edit?_method=PUT" method="POST">
          <h5>預約成功</h5>
          <div class="mb-3">
            <input type="text" class="form-control" id="time" value="">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="teacherName" value="{{teacher.[0].name}}">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="teacherName" value="{{teacher.[0].Lessons.link}}">
          </div>
          <a class="btn btn-primary" href="/teacherProfileForStudent/{{teacher.[0].id}}">Close</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  const startTime = document.getElementById("startTime")
  const time = document.getElementById("time")
  const timeSubmit = document.getElementById("timeSubmit")
  startTime.addEventListener("change", (event) => {
    time.value = event.target.value
    timeSubmit.removeAttribute("disabled")
  })
</script>